<!--div class="alert span10">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div-->



<div class="row well span4">
  <form>
   <!--div class="alert alert-error" style="display:none">
      <strong>Ooops!</strong> You did not pass the validation.
    </div>
    <div class="alert alert-success" style="display:none">
      <strong>Success!</strong> You passed the validation.
    </div-->

	  <div class="control-group">
		  <div class="controls">
			  <input name="email" class="input-email span4" type="text" placeholder="Email" data-error-style="inline">
		  </div>
	  </div>
	  <div class="control-group">
		  <div class="controls controls-row">
        <div class="input-append">
          <input name="password" class="input-password" type="password" placeholder="Password" data-error-style="inline">
          <button class="sign-in-button btn" type="submit" data-loading-text="Signing">Sign in</button>
        </div>
		  </div>
	  </div>
	  <!--div class="control-group">
		  <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
          <span class="separator">·</span>
          <a href="#">forgot password?</a>
        </label>      
    	</div>
	  </div-->
  </form>
</div>



<!--div class="content div-for-backbone">
  <button class="btn">Authenticate user</button>
</div-->



