      <div class="span3">
        <h2>Example app</h2>
        This is an app that integrates:
        <ul>
          <li>At the rails server side</li>
            <ul>
              <li>rspec</li>
              <li>factory_girl</li>
              <li>devise</li>
              <li>JSON/RESTful API</li>
            </ul>
          <li>At the client side (in the browser)</li>
            <ul>
              <li>twitter bootstrap</li>
              <li>backbone.js</li>
              <li>underscore.js</li>
              <li>jQuery</li>
            </ul>
        </ul>
        <h3>Architecture</h3>
        This app achieve a complete decoupling of controllers and views in Rails.
        All the controllers do is to serve and consume JSON data. The front-end is build around this data.
        <div id="hello"></div>
      </div>

